@page "/"

<!-- Definierar sidtitel -->
<PageTitle>Startsida</PageTitle>

<h1>Startsida</h1>
<p>Det här är en enklare webbplats skapad med ASP.NET Core och Blazor WebAssembly. Applikationens design är konstruerad
    med CSS. All interaktion och dynamisk programmering är gjord med C#.</p>

<!-- Komponenten InfoBox används för att visa en informationsruta -->
<moment12.Components.InfoBox />